/* Lien Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url("https://fonts.googleapis.com/css?family=Lato:300");
*, *::before, *::after {
  box-sizing: border-box;
}


/* 1. Style global */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #E9EED9;
    color: #333;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    font-size: 25px;
}

h1 {
    font-size: 45px;
    text-align: right;
}

a {
    color: #0066cc;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

a:hover {
    color: #004499;
}

/* 2. Mise en forme de l'en-tête */
header {
    background-color: #606c38;
    color: #fefae0;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

header h1 {
    font-size: 40px;
    margin: 0;
    text-align: right;
    
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 25px;
    background-color: #283618;
    border-radius: 5px;
    padding: 10px 15px;
}

nav ul li {
    display: inline;
    margin-left: 20px;
}

nav ul li a {
    color: #E9EED9;
    font-weight: bold;
    padding: 10px 15px;
}

nav ul li a:hover {
    background-color: #283618;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    font-size: 25px;
}

/* Style de l'image de profil dans l'en-tête */
img {
    border-radius: 50%;
    border: 4px solid #606c38;
    float:right; display:inline;
    margin-right: 10%;
    ;
}

/*** <--- CIRCLE STYLES ---> ***/
.wrap-circles {
    display: flex;
    min-height: 100vh;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 2rem 1rem;
    background: #00000000;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
  }
  
  .circle {
    position: relative;
    width: 250px;
    height: 250px;
    margin: 0.5rem;
    border-radius: 50%;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
  }
  .circle.per-95 {
    background-image: conic-gradient(#606c38 95%, #dad7cd 0);
}
  .circle.per-60 {
    background-image: conic-gradient(#606c38 60%, #dad7cd 0);
  }
  .circle.per-65 {
    background-image: conic-gradient(#606c38 65%, #dad7cd 0);
  }
  .circle.per-75 {
    background-image: conic-gradient(#606c38 75%, #dad7cd 0);
  }
  .circle .inner {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 200px;
    background: #c0c4b3;
    border-radius: 50%;
    font-size: 1.85em;
    font-weight: 500;
    color: rgb(0, 0, 0);
    font-family: 'Roboto', sans-serif;
  }
  
/* 3. Style de la section Présentation */
#presentation {
    background-color: #E9EED9;
    justify-content: space-between;
}

#presentation h2 {
    font-size: 65px;
    margin-bottom: 10px;
    align-content: left;
    text-align: left;
    margin-left: 100px;
}

#presentation p {
    max-width: 700px;
    margin: 0 auto;
    margin-left: 100px;
    font-size: 30px;
    color: #666;
    display:inline;
    float:left;
    text-align: left;
}

/* 4. Section Compétences */
#competences {
    padding: 40px;
    background-color: #E9EED9;
    font-size: 30px;
}

#competences h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 65px;
}

#competences ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    padding: 0;
}

#competences li {
    text-align: center;
}

#competences progress {
    width: 150px;
    height: 15px;
}

/* 5. Section Projets */
#projets {
    padding: 40px;
    background-color: #E9EED9;
    text-align: left;
}

#projets h2 {
    text-align: center;
    font-size: 65px;
    margin-bottom: 20px;
}

#projets article {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    margin-bottom: 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 10px;
    background-color: #a3b18a;
}

#projets img {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#projets figure figcaption {
    text-align: center;
    font-size: 0.9em;
    color: #777;
}

/* 6. Style du formulaire de contact */
#contact {
    padding: 40px;
    background-color: ##E9EED9;
    display: flex;
    justify-content: center;
}

form {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    width: 50%;
    max-width: 600px;
    background-color: #a3b18a;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-size: 25px;
}

form input, form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #3d3d3d;
    border-radius: 5px;
    font-size: 20px;
}

form input:focus, form textarea:focus {
    outline: none;
    border-color: #4CAF50;
}

button {
    padding: 10px;
    background-color: #4CAF50;
    color: #E9EED9;
    border: none;
    border-radius: 5px;
    font-size: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

button:hover {
    background-color: #45a049;
}

/* 7. Pied de page */
footer {
    background-color: #283618;
    color: #E9EED9;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}

footer a {
    color: #4CAF50;
    margin: 0 10px;
}

footer a:hover {
    color: #45a049;
}

footer img {
    height: 50px;
    width: 50px;
    margin-left: 5px;
}

