
{{ define "main" }}
<content>

    <style>
        .gallery img {
        }
      </style>

<h1>back soon.</h1>
currently giving this website a new look & some new features.

<br></br><br></br><br></br><br>
  <div class="gallery">

      <img src="/buttons/any2.gif" alt="any2">
      <img src="/buttons/bob.gif" alt="">
      <img src="/buttons/firefox1.6c3088df18ce.gif" alt="Firefox">
      <img src="/buttons/wind_power.gif" alt="">
      <img src="/buttons/ublockorigin.png" alt="uBlock Origin">
      <img src="/buttons/queercoded.png" alt="">
        <img src="/buttons/webdesign.e238b9266e91.png" alt="Web Design">





 



  </div>

</content>
{{ end }}


