
{{ define "main" }}
<content>
    
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>


    <style>
        .gallery img {
        }
      </style>

<br></br>

<h2>woah</h2>
currently giving this website a new look & some new features.

<br></br><br>

<h3>socials</h3>

signal
<br>
github
<br>
...
<br>
...
<br>
...
<br>
...


<br></br><br></br><br></br><br>
  <div class="gallery" style="
  position: fixed;
  bottom: 0;
  margin-bottom: 13px;
  width: 100%;">

      <img src="/buttons/any2.gif" alt="any2">
      <img src="/buttons/bob.gif" alt="">
      <img src="/buttons/firefox1.6c3088df18ce.gif" alt="Firefox">
      <img src="/buttons/wind_power.gif" alt="">
      <img src="/buttons/ublockorigin.png" alt="uBlock Origin">
      <img src="/buttons/queercoded.png" alt="">
        <img src="/buttons/webdesign.e238b9266e91.png" alt="Web Design">

</div>


</html>
</content>

{{ end }}

